pipeline/PL_OSA_Master_Inc_Src_to_raw.json
{
	"name": "PL_OSA_Master_Inc_Src_to_raw",
	"properties": {
		"activities": [
			{
				"name": "v_DestinationFolderStructure",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_DestinationFolderStructure",
					"value": {
						"value": "Year=@{formatDateTime(convertFromUtc(utcnow(),'Eastern Standard Time'),'yyyy')}/Month=@{formatDateTime(convertFromUtc(utcnow(),'Eastern Standard Time'),'MM')}/Date=@{formatDateTime(convertFromUtc(utcnow(),'Eastern Standard Time'),'dd')}/Hour=@{formatDateTime(convertFromUtc(utcnow(),'Eastern Standard Time'),'hh')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "v_CurrentTS",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_CurrentTS",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute_PL_Synapse_Src_to_Raw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "v_DestinationFolderStructure",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "v_CurrentTS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_MFC_OSA_Inc_Src_to_raw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DestinationFolderStucture": {
							"value": "@variables('v_DestinationFolderStructure')",
							"type": "Expression"
						},
						"CurrentTS": {
							"value": "@variables('v_CurrentTS')",
							"type": "Expression"
						},
						"TGT_FILE": {
							"value": "@pipeline().parameters.TableToBeProcessed",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"TableToBeProcessed": {
				"type": "string",
				"defaultValue": "MFC-OSA-Delta"
			}
		},
		"variables": {
			"v_DestinationFolderStructure": {
				"type": "String"
			},
			"v_CurrentTS": {
				"type": "String"
			},
			"V_Source_Table": {
				"type": "String"
			}
		},
		"annotations": []
	}
}
